/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styling */
:root {
	font-size: 16px;
	--default-fonts: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

body {
	font-family: "Fira Sans", var(--default-fonts);
	font-weight: 400;
	height: 100vh;
	width: 100%;
	background-color: rgb(236, 227, 206);
	display: grid;
	grid-template-columns: 1.3fr 4fr;
	grid-template-rows: 20vh 1fr;
}

#header {
	grid-row: 1;
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: "Mulish", "Fira Sans", var(--default-fonts);
	padding: 32px;
	background-color: rgb(58, 77, 57);
	color: rgb(255, 252, 245);
}

.header-description {
	font-size: 1.2rem;
	font-weight: 400;
	font-family: "Fira Sans", var(--default-fonts);
}

#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px;
	gap: 24px;
	background-color: rgb(79, 111, 82);
	color: rgb(255, 252, 245);
}

.sidebar-header h2 {
	font-size: 1.1rem;
	font-weight: 700;
	font-family: "Mulish", "Fira Sans", var(--default-fonts);
}

.sidebar-header h4 {
	font-size: 1rem;
	font-weight: 400;
	font-family: "Fira Sans", var(--default-fonts);
}

.sidebar-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.form-row {
	position: relative;
}

.form-row input {
	outline: none;
	background: none;
	color: rgb(255, 252, 245);
	border: 1px solid rgb(236, 227, 206);
	border-radius: 5px;
	padding: 10px;
	width: 80%;
	font-size: 0.9rem;
	font-weight: 300;
}

.form-row label {
	position: absolute;
	left: 0;
	padding: 10px;
	color: rgba(255, 252, 245, 0.5);
	text-transform: capitalize;
	font-weight: 300;
	font-family: "Mulish", "Fire Sans", var(--default-fonts);
	pointer-events: none;
	transition-property: top, left, padding, font-size;
	transition-duration: 0.5s;
}

.form-row input:hover ~ label {
	color: rgba(255, 252, 245, 0.65);
	transition: 0.5s;
}

.form-row input:not(:placeholder-shown) ~ label,
.form-row input:focus ~ label
{
	color: rgba(255, 252, 245, 1);
	top: -7px;
	left: 10px;
	font-size: 0.7rem;
	padding: 0 16px;
	background-color: rgb(79, 111, 82);
}

.form-checkbox-row {
	display: flex;
	gap: 8px;
	font-size: 0.9rem;
	font-weight: 300;
}

.form-checkbox-row label {
	order: -1;
}

.form-button {
	width: 100px;
	height: 43px;
	font-size: 0.9rem;
	font-weight: 300;
	background: none;
	outline: none;
	border: 1px solid rgb(236, 227, 206);
	border-radius: 5px;
	color: rgb(255, 252, 245);
	transition: 0.5s;
}

.form-button:hover {
	background-color: rgb(236, 227, 206);
	color: rgb(79, 111, 82);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-button:active {
	background-color: inherit;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-template-rows: repeat(auto-fit, 1fr);
}

.card .card-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 175px;
	height: 275px;
	background-color: rgb(115, 144, 114);
}

.card-buttons svg {
	width: 25px;
	height: 25px;
}